@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular;
}

@layer utilities {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    /* Chrome, Safari and Opera */
    display: none;
  }
}

body {
  background: #f8fafc; /* slate-50 */
  color: #0f172a; /* slate-900 */
}
